<template>
  <div class="max-w-screen-sm mx-auto px-4 py-10">
    <!-- Error Handling -->
    <div v-if="errorMsg" class="mb-10 p-4 rounded-md bg-light-grey shadow-lg">
      <p class="text-red-500">{{ errorMsg }}</p>
    </div>

    <!-- Register -->
    <form
      class="p-8 flex flex-col bg-light-grey rounded-md shadow-lg"
    >
      <h1 class="text-3xl text-at-light-green mb-4">Profile</h1>

      <div class="flex flex-col mb-2">
        <label for="email" class="mb-1 text-sm text-at-light-green"
          >Email</label
        >
        <input
          type="text"
          required
          class="p-2 text-gray-500 focus:outline-none"
          id="email"
          v-model="email"
          readonly
        />
      </div>

      <div class="flex flex-col mb-2">
        <label for="phone" class="mb-1 text-sm text-at-light-green"
          >Phone</label
        >
        <input
          type="password"
          required
          class="p-2 text-gray-500 focus:outline-none"
          id="password"
          v-model="phone"
          readonly
        />
      </div>

      <div class="flex flex-col mb-2">
        <label for="lastLogin" class="mb-1 text-sm text-at-light-green"
          >Join At</label
        >
        <input
          type="text"
          required
          class="p-2 text-gray-500 focus:outline-none"
          id="confirmPassword"
          v-model="confirmedAt"
          readonly
        />
      </div>
    </form>
  </div>
</template>

<script>
import store from "../store/index";
import { ref } from "vue"
import moment from 'moment';

export default {
  setup() {
    // Get user from store
    const user = store.state.user;
    const email = ref(user.email)
    const phone = ref(user.phone)
    const confirmedAt = ref(moment(user["email_confirmed_at"]))

    console.log(user)
    return {email, phone, confirmedAt};
  },
};
</script>
